[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
sqlalchemy = "*"
install = "*"
databases = {version = "*", extras = ["sqlite"]}
fastapi-jwt-auth = "*"
python-jose = {version = "*", extras = ["cryptography"]}
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
